@import url(/assetes/css/settings.css);
.container{
    max-width: 1146px;
    margin: auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:30px;
    
}
h1{
    margin-top: 13px;
    font-size: 24px;
    margin-right: 7px;
    margin-left: 6px;
}
.header__left p{
    margin-right:14px ;
    
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__left{
    font-size: 14px;
    display: flex;
    margin-left: 15px;
    
}
.header__right{
    font-size: 14px;
    display: flex;
}
.header__right p:first-child{
    margin-top: 10px;
}

.header__right p{
    margin-right: 5px;
}
.header__button{
    border:2px solid blue;
    border-radius: 5px;
    color: white;
    background-color: blue;
    width: 161px;
    height:36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:15px;
}
.search__form {
    background-color: #256EEB;
    border-radius: 5px;
    margin-top: 13px;
}

.search__form form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__form {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__form-field {
    width: 100%;
    height: 100%;
}

.search__form-field input {
    padding: 14px 21px;
    width: calc(100% - 6px);
    height: 44px;
    position: absolute;
    left: 3px;
    top: 3px;
    border-radius: 5px;
    border: none;
}

.search__form-button {
    background-color: #256EEB;
    z-index: 1;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    cursor: pointer;
}

.search__form-button button {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;
}